#TOC {
        position: fixed;
        /* This controls the width of the TOC on the left side of the file */
        width: 18em;
        left: 0;
        top: 0;
        height: 100%;
        background-color: LightGray;
        overflow-y: scroll;
        padding: 1em;
}

body {
    margin: auto;
    padding-right: 1em;
    /* This controls the padding on the left side of the docs in the main pane. */
    padding-left: 10em;
    max-width: 60em;
    color: black;
    font-family: Verdana, sans-serif;
    font-size: 100%;
    line-height: 140%;
    color: #333; 
}

/* This adds a border around the header of the table */
table{
        border-collapse:collapse;
        border:1px solid grey;
        }

/* This adds a border around the cells of the table */
table, th, td{
        border:1px solid grey;
        }

/* Color of the table header */
th{
  color: black;
  background: #ffb517;
}


pre {
    border: 1px dotted gray;
    background-color: #ececec;
    color: #1111111;
    padding: 0.5em;
}
code {
    font-family: monospace;
}
h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
    color: #0093D0;
}
h1, h2, h3, h4, h5 { font-family: verdana;
                     font-weight: bold;
                     border-bottom: 1px dotted black;
                     color: #0093D0; }
h1 {
        font-size: 130%;
}

h2 {
        font-size: 110%;
}

h3 {
        font-size: 95%;
}

h4 {
        font-size: 90%;
        font-style: italic;
}

h5 {
        font-size: 90%;
        font-style: italic;
}

h1.title {
        font-size: 200%;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align: left;
        border: none;
}

dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

#footer {
        padding-top: 1em;
        font-size: 110%;
        color: #0093D0;
        text-align: center;
        }

img[src$="smaller.png"] {
    width: 600px;
}
